/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2016, 3:19:59 AM
    Author     : Trisha
*/

body{
    color:#000;
    background: url(../images/pattern.png), linear-gradient(to left, #EFEFBB , #D4D3DD);
}

/*default button*/
.btns{
    color:#000;
    font-family: 'Fira', sans-serif;
    width: auto;
    height: auto;
    background: transparent;
    border: 3px solid #000;
    font-size: 1.4em;
    padding: 10px 25px 10px 25px;
    margin: 10px;
    margin-top: 20px;
    opacity: .9;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}
/*default button*/

/*content*/
.content{
    position: relative;
    animation-delay: .2s;
    margin-top: 10%;
}
/*content h2*/
.content h2{
    color: #000;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 10px;
    animation-delay: .1s;
}
/*content*/

/*form*/
.frm{
    border: 3px solid #000;
    width: 30%;
    height: 50%;
    padding: 10px 5px 10px 5px;
    position: relative;
    margin: 0 auto;
}

/*text input style*/
.txtGroup{
    font-family: 'Fira', sans-serif;
    width: 200px;
    height: 30px;
    color: #000;
    background: transparent;
    border: 2px solid #000;
    border-radius: 2px;
    font-weight: normal;
    font-size: 1.2em;
    padding: 5px;
}

/* text input placeholder*/
::-webkit-input-placeholder{
    opacity: 0.8;
    color: #000;
}

::-moz-input-placeholder{
    opacity: 0.8;
    color: #000;
}
/*form*/

/*text label*/
.txt label{
    display: block;
    margin: 0px;
    float: left;
    width: 31%;
    text-align: right;
    margin-top: 10px;
    font-size: 1.5em;
}

.txt #name{
    font-size: 1.8em;
    margin: 0 auto;
    padding:5px;
}

/*text containers with label and input text*/
.txt{
    margin:20px;
}

/*text input animation*/
.txt  input[type=text]:focus{
    outline: none;
    border: 1px solid #fff;
}

/*message*/
#message{
    color: #de3f42;
    font-size: 1.2em;
    position: relative;
    text-align: center;
    padding: 10px;
}
/*message*/

/*footer*/
#footerGroup{
    color:#000;
    opacity: .9;

}
/*footer*/