/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2016, 11:54:45 PM
    Author     : Trisha
*/

h3{
    color: #000;
    font-weight: normal;
    font-size: 18em;
    position: fixed;
    transform: rotate(90deg);
    left: 65%;
    margin-top: 16%;
    opacity: .5;
}

.roomGroup {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    position: absolute;
    margin-top: 6%;
    margin-left: 8%;
}

.indivRoom{
    color: #000;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 50%;
    height: 200px;
    border: 4px solid rgba(0,0,0,.5);
    border-radius: 2px;
    position: relative;
    padding: 20px;
}

.indivRoom h4{
    font-weight: normal;
    font-size: 2em;
    text-transform: uppercase;
    float: left;
    position: relative;
    animation-delay: .4s;
}


.indivRoom h5{
    font-weight: normal;
    font-size: 1.2em;
    font-style: italic;
    position: absolute;
    margin-top: 10%;
    animation-delay: .3s;
}

.indivRoom p{
    position: relative;
    float: right;
    text-align: justify;
    line-height: 32px;
    letter-spacing: 2px;
    margin-left: 30%;
    margin-top: -15%;
    font-size: 1.3em;
    animation-delay: .5s;
}

