/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2016, 2:15:56 PM
    Author     : Trisha
*/
@import url(fonts.css);


body{
    color:#000;
    margin: 0 auto;
    padding: 0;
    font-family: 'Fira', sans-serif;
    font-size: 1.8em;
    text-align: center;
    background-color: #fff;
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-size: auto, cover;
}

#frmGroup{
    border: 1px solid #000;
    width: 30%;
    height: 50%;
    padding: 20px;
    position: relative;
    left: 34%;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
}

/*username, check-in/out style*/
.txtGroup{
    font-family: 'Fira', sans-serif;
    width: 200px;
    height: 30px;
    color: #000;
    background: rgba(0, 0, 0, .3);
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 2px;
    font-weight: normal;
    font-size: 1em;
    padding: 5px;
}


/* username input animation*/
.txt  input[type=text]:focus{
    outline: none;
    border: 1px solid rgba(255,255,220,.5);
    opacity: 0.9;
    color: #000;
}

/* login placeholder*/
::-webkit-input-placeholder{
    opacity: 0.8;
    color: #000;
}

::-moz-input-placeholder{
    opacity: 0.8;
    color: #000;
}

/*default button style*/
.btn{
    font-family: 'Fira', sans-serif;
    width: 25%;
    height: 60px;
    background: transparent;
    border: none;
    font-size: 1.3em;
    padding: 5px;
    margin-top: 10px;
    opacity: .9;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
  font-weight: 900;
  letter-spacing: 1px;
}