/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2016, 11:50:17 PM
    Author     : Trisha
*/
@import url(fonts.css);

/*LOGIN GROUP*/
#loginGroup {
    position: fixed;
    top: 2%;
    left: 82%;
}

/*username, check-in/out style*/
.txtGroup{
    font-family: 'Fira', sans-serif;
    width: 130px;
    height: 20px;
    color: #000;
    background: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255,255,220,.5);
    border-radius: 2px;
    font-weight: normal;
    font-size: .9em;
    padding: 5px;
}

/*password style*/
#loginGroup input[type=password]{
    width: 130px;
    height: 20px;
    color: #000;
    background: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255,255,220,.5);
    border-radius: 2px;
    font-size: 1em;
    font-weight: normal;
    padding: 5px;
    margin-top: 10px;
}

/* username input animation*/
#loginGroup  input[type=text]:focus{
    outline: none;
    border: 1px solid rgba(255,255,220,.5);
    opacity: 0.9;
    color: #000;
}

/* password input animation*/
#loginGroup  input[type=password]:focus{
    outline: none;
    border: 1px solid rgba(255,255,220,.5);
    opacity: 0.9;
    color: #000;
}

/* login placeholder*/
::-webkit-input-placeholder{
    opacity: 0.8;
    color: #000;
}

::-moz-input-placeholder{
    opacity: 0.8;
    color: #000;
}

/*default button style*/
.btn{
    color: #fff;
    font-family: 'Fira', sans-serif;
    width: 25%;
    height: 50px;
    background: transparent;
    border: none;
    font-size: 1.1em;
    padding: 5px;
    opacity: 0.8;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
  color: #FCEFBD;
  font-weight: 900;
  letter-spacing: 1px;
}

/*CHECK GROUP*/
#checkGroup {
    margin: 0 auto;
    margin-top: 2%;
    padding: 30px;
    position: relative;
    background: rgba(0, 0, 0, .4);

}

#checkGroup h3{
    opacity: .8;
}

/*check-in and check-out input*/
#checkGroup #checkIn, #checkGroup #checkOut{
    width:250px;
    height:30px;
    padding:10px;
    font-size: 1.3em;

}
/*drop-down list group*/
.ddlGroup{
    font-family: 'Fira', sans-serif;
    width:250px;
    height:50px;
    background: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255,255,220,.5);
    border-radius: 2px;
    font-size: 1.3em;
    padding: 10px;
    opacity: 0.9;
}

/*check availability button*/
#btnCheckAvail{
    width:250px;
    height:50px;
    padding:10px;
}

ul li {
    list-style: none;
    padding: 10px;
    display: inline-block;
}

#error{
    color: #fff;
    font-size: 1.1em;
    position: relative;
    right: 0;
    bottom: 35%;
    left: 0;
    text-align: center;
    opacity:.8;
}

#message{
    color: #fff;
    opacity: .8;
    font-size: 1.2em;
    position: relative;
    right: 0;
    bottom: 35%;
    left: 0;
    text-align: center;
}

