/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 26, 2016, 10:32:23 AM
    Author     : Trisha
*/
/*FONTS*/
/*menu and header h2*/
@font-face{
    font-family: 'Soria';
    src: url(../fonts/Soria.ttf) format('truetype');
}
/*header h1*/
@font-face{
    font-family: 'Arnetalia';
    src: url(../fonts/Arnetalia.ttf) format('truetype');
}
/*body*/
@font-face{
    font-family: 'Madras';
    src: url(../fonts/Madras.otf) format('opentype');
}

/* BODY*/
body {  
    color:#FCEFBD;
    margin: 0;
    padding: 0;
    font-family: 'Madras', sans-serif;
    text-align: center;
    background-color: #fff;
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-size: auto, cover;

}

/* HEADER*/
#headerGroup{
    top: 15%;
    left: 5%;
    position: fixed;

}

/*h1*/
#headerGroup h1{
    font-family: 'Arnetalia', cursive;
    text-shadow:0px 6px 1px #ed2f2f;
    margin: 0 0 23px 0;
    font-size: 8em;
    opacity: 0.9;
    
}

/*h2*/
#headerGroup h2{
    font-family: 'Soria', serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.3em;
    opacity: 0.9;
    position: fixed;
    top: 31%;
    left: 13%;
}
/*h3*/
h3{
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*FOOTER*/
#footerGroup{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: left;
}







