/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2016, 6:05:07 PM
    Author     : Trisha
*/

body{
    color:#f1f0ed;
    background: url(../images/pattern.png), linear-gradient(to left, #485563 , #29323c);
}  

th, td, tr {
    border: 2px solid #f1f0ed;
}

.content h2{
    color: #f1f0ed;
}

.btns{
    color:#f1f0ed;
    border: 1px solid #f1f0ed;
}

.hvr-sweep-to-left{
    box-shadow: 1px 5px 6px rgba(87,89,96,0.2);
}

.frm{
    border: 2px solid #f1f0ed;
}

.idGroup{
    margin-bottom: 20px;
}
.rmID{
    font-size: 1.8em;
}
.txtGroup{
    width:250px;
    height:30px;
    margin: 10px;
    color: #f1f0ed;
    border: 2px solid #f1f0ed;
}

/* text input placeholder*/
::-webkit-input-placeholder{
    opacity: 0.8;
    color: #f1f0ed;
}

::-moz-input-placeholder{
    opacity: 0.8;
    color: #f1f0ed;
}

#ddl{    
    margin-top: 0%;
}

#txtSpecialRequests{
    width: 400px;
    height: 200px;
}

#message{
    color: #de3f42;
    text-shadow: -1px 1px 1px black;
    padding: 10px;
}

h3{
    font-size: 1.7em;
}



