/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2016, 8:08:01 PM
    Author     : Trisha
*/
@import url(fonts.css);

.txtGroup{
    background: rgba(255, 255, 255, .3);
    border: 1px solid rgba(0,0,0,.5);
    margin: 3%;
}

.ddlGroup{
    font-family: 'Fira', sans-serif;
    width: 275px;
    height: 50px;
    background: rgba(255, 255, 255, .3);
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 2px;
    font-size: 1em;
    padding: 10px;
    opacity: 0.9;
    margin-top: 6%;
}

#txtSpecialRequests{
    width: 400px;
    height: 200px;
}

#message{
    color: #f01414;
    font-weight: bold;
    font-size: .8em;
    position: relative;
    right: 0;
    bottom: -1%;
    left: 0;
    text-align: center;
}
